@model DnDShopWebsite.Models.ViewModels.CampaignCardPartialVM

@{
    var campaign = Model.AllCampaigns.FirstOrDefault(c => c.CampaignName == Model.CurrentCampaignName);
}

<div class="card bg-dark text-light border-light" style="width: 30em; float: left; margin-left: 5em; margin-bottom: 1em;">
    <div class="card-body">

        <div class="row">
            <h5 class="card-title" style="font-weight:bolder;">@Model.CurrentCampaignName</h5>
        </div>

        <br />

        <div class="row">
            <p style="font-weight:bolder;">Game Edition:</p>
            <br />
            <p>@campaign.GameEdition.ToString()</p>
            <br />
            <p style="font-weight:bolder;">Campaign Description:</p>
            <br />
            <p>@campaign.CampaignDescription</p>
        </div>


        <p style="font-weight:bolder;">Dungeon Master:</p>
        <div class="row">
            <div class="col">
                <p>@campaign.DungeonMaster.FirstName @campaign.DungeonMaster.LastName</p>
            </div>
            <div class="col">
                <a asp-action="Details" asp-controller="DungeonMaster" asp-route-id="@campaign.DungeonMasterId" class="btn btn-success" style="margin-right:.2em;">Details</a>
            </div>
        </div>


        <p style="font-weight:bolder;">Players:</p>

        @foreach (var c in Model.AllCampaigns)
        {
            if (c.CampaignName == Model.CurrentCampaignName)
            {
                <div class="row">

                    <div class="col">
                        <p style="margin-bottom: 1.5em;">@c.Player.FirstName @c.Player.LastName</p>
                    </div>

                    <div class="col">
                        <a asp-action="Details" asp-controller="Player" asp-route-id="@c.PlayerId" class="btn btn-success" style="margin-right:.2em;">Details</a>
                        <a asp-action="DeletePlayer" asp-controller="Campaign" asp-route-playerId="@c.PlayerId" asp-route-campaignId="@c.Id" class="btn btn-danger" style="margin-right:.2em;">Remove</a>
                    </div>

                </div>
            }

        }
        <br />
        <a asp-action="AddPlayer" asp-controller="Campaign" asp-route-dungeonMasterId="@campaign.DungeonMasterId" asp-route-campaignId="@campaign.Id" class="btn btn-primary" style="margin-right:.2em;">Add Player</a>
        <a asp-action="DeleteCampaign" asp-controller="Campaign" asp-route-dungeonMasterId="@campaign.DungeonMasterId" asp-route-campaignId="@campaign.Id" class="btn btn-danger" style="margin-right:.2em;">Delete Campaign</a>


    </div>
</div>
