@using DnDShopWebsite.Models.Entities;
@model DnDShopWebsite.Models.ViewModels.CreateACampaignVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create A New Campaign</h1>

<h4>This game will be ran by @Model.DungeonMaster.FirstName</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group col" style="width:25em;float:left; margin-right: 10em;">
                <span asp-for="CampaignName" class="input-group-text" id="inputGroup-sizing-default">Campaign Name</span>
                <input asp-for="CampaignName" type="text" class="form-control" name="campaignName" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <div class="form-group">
                <label asp-for="GameEdition" class="control-label"></label>
                @Html.DropDownList("GameEdition",
                Enum.GetValues(typeof(GameEdition)).Cast<GameEdition>().Select(x => new SelectListItem {Text = x.Description(), Value = x.ToString()}))
                <span asp-validation-for="GameEdition" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="input-group">
                <span asp-for="CampaignDescription" class="input-group-text" id="inputGroup-sizing-default">Campain Description</span>
                <input asp-for="CampaignDescription" type="text" class="form-control" name="campaignDescription" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>


            <br />
            <div class="row">
                <label asp-for="PlayerId" class="control-label"> Player List (Please Select One): </label>
                @foreach (var p in Model.Players)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="@p.Id" name="playerId" value="@p.Id" />
                        <label class="form-check-label" asp-for="PlayerId">@p.FirstName @p.LastName</label>
                    </div>
                }
            </div>

            <br />
            <div class="form-group">
                <input asp-for="DungeonMasterID" name="dungeonMasterId" class="form-control" value="@Model.DungeonMasterID" type="hidden" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
